@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#5271FF,#43E8ED);
}

main{
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #007067e3;
}

h1{
    color: #D15415;
    text-align: center;
    text-shadow: 1px 1px 2px #86360dce;
}

h2{
    color: #221F42;
}

p{
    text-align: justify;
}